@font-face {
  font-family: Inter;
  src: url("url:../fonts/Inter-Light.woff");
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1.3;
}

body {
  display: flex;
  flex-flow: column;
  margin: 0;
  overflow-y: scroll;
}

main {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding: 1em;
  font-family: Inter;
  background-color: bisque;
  box-shadow: 0 -0.1em 0.1em bisque;
}
