.card {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  color: #333;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
