@font-face {
  font-family: BebasNeue;
  src: url("url:../fonts/BebasNeue-Regular.otf");
}

footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  color: aliceblue;
  font-family: BebasNeue;
  background-color: black;
  box-shadow: 0 -0.1em 0.1em black;

  & * {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
  }

  @media screen and (orientation: landscape) {
    & {
      flex-direction: row;
    }
  }

  & > .icons {
    display: flex;
    gap: 1em;
  }
}
