@font-face {
  font-family: OpenSans;
  src: url("url:../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: Garamond;
  src: url("url:../fonts/Garamond.otf");
}

header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: stretch;
  margin: 1em;

  @media screen and (min-width: 1000px) {
    & {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  & > .logo {
    align-self: center;
    font-size: 13vw;
    font-family: OpenSans;
    white-space: nowrap;

    @media screen and (orientation: landscape) {
      & {
        font-size: 6vw;
      }
    }
  }

  & > nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5em;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1ex;
    border-bottom: 2px solid;

    @media screen and (orientation: landscape) {
      & {
        flex-direction: row;
      }
    }

    & > a {
      --underline-width: 0;

      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-family: Garamond;
      text-transform: uppercase;
      background: linear-gradient(currentColor 0 0) bottom /
        var(--underline-width) 2px no-repeat;
      outline: none;
      opacity: 0.69;
      transition: 0.5s;

      &:hover {
        --underline-width: 100%;
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }
}
