@import "./util.scss";

.sticker {
  @include shadow;

  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: white;
  border-radius: 0.5em;

  & > .button-box {
    margin-left: auto;
  }

  & > .title {
    font-weight: bold;
  }
}
