@function css-max($values...) {
  @return max + unquote("(") + $values + unquote(")");
}

.sticker-board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border-radius: 0.2em;

  & > .header {
    display: flex;

    & > .title {
      margin: 0 auto;
      padding: 0.2em;
      background-color: beige;
      border-radius: 0.4em;
    }
  }
}
