@mixin shadow {
  box-shadow: 0.1em 0.1em 0.1em #ccc;

  &:active {
    box-shadow: inset;
  }
}

.shadow {
  @include shadow;
}

@mixin smooth {
  transition: all 0.2s;
}

.smooth {
  @include smooth;
}
